.continer {
  text-align: center;
}

h1 {
  color: #00897b;
  font-weight: 700 !important;
  margin-top: 41px !important;
}

form.example-form.ng-dirty.ng-touched.ng-valid {max-width: 500px;margin: auto;padding: 22px;}

mat-form-field {
  display: block !important;
  margin-top: 10px;
}

form {
  max-width: 500px;
  margin: auto;
}


span.forget a {
  display: block;
  color: #00897b;
  text-decoration: none;
  margin-top: 14px;
  text-transform: capitalize;
}
span.sin-up{
  margin-top: 14px;
}
span.sin-up a {
  color: #00897b;
  text-transform: capitalize;
  text-decoration: none;
}
