.continer {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  /* padding: 5; */
  width: 100%;
}

h1 {
  color: #00897b;
  font-weight: 700 !important;
  margin-top: 41px !important;
}

form {padding: 22px;}

mat-form-field {
  display: block !important;
  margin-top: 10px;
}


span.forget a {
  display: block;
  color: #00897b;
  text-decoration: none;
  margin-top: 14px;
  text-transform: capitalize;
}
span.sin-up{
  margin-top: 14px;
}
span.sin-up a {
  color: #00897b;
  text-transform: capitalize;
  text-decoration: none;
}
