

<mat-toolbar >
  <span><mat-icon aria-hidden="false" style="font-size: 27px;color: #00897b;" aria-label="Example book icon">book</mat-icon>
    My Post</span>
  <span class="example-spacer"></span>
  <nav class="list-of-btns">

    <a mat-button routerLinkActive="active"routerLink="/" >
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> Home
    </a>

    <a mat-button routerLinkActive="active" routerLink="/create">
      <mat-icon aria-hidden="false" aria-label="Example post_add icon">post_add</mat-icon> add post
    </a>

  </nav>
</mat-toolbar>


<div class="container">
    <router-outlet></router-outlet>
</div>
