.example-spacer {
  flex: 1 1 auto;
}

.container{
  margin: auto;

  margin-top: 10px;
  width: 100%;
  max-width: 1200px;
}

.post-list{
  margin-top: 20px;
}

.header{
  background-color: #30959f;
  color: #fff;
}
