
<mat-spinner *ngIf="isLoading"></mat-spinner  >


<mat-card *ngIf="!isLoading"> Create New Post
    <br>
    <form [formGroup]="form" (submit)="onPost()" enctype="multipart/form-data" >

      <mat-form-field class="title" appearance="fill">
        <input
        type="text"
        matInput
        placeholder="Write the title"
        formControlName = "title"
        >
        <mat-error *ngIf="form.get('title')?.invalid">Please Enter The Title</mat-error>
      </mat-form-field>

      <div class="image-piker">
        <button mat-stroked-button type="button" (click)="imagePiker.click()">Pick Image</button>
        <input type="file" name="image" formControlName = "fileSource" #imagePiker  (change)="onImagePicked($event)" accept="image/*">
        <div *ngIf="imageSrc" class="image-view">
          <img [src]="imageSrc" [alt]="this.form.get('title')">
        </div>
      </div>

      <mat-form-field class="post-input" appearance="fill">
        <mat-label>What In Your Maind?</mat-label>
        <textarea
        rows="8"
        formControlName = "content"
        matInput
        placeholder="type ..."
        ></textarea>
        <mat-error *ngIf="form.get('content')?.invalid">Please Enter The Content</mat-error>
      </mat-form-field>

      <button
      type ="submit"
      mat-flat-button
      color="primary" style="background:#00897b;" >Post
        <mat-icon aria-hidden="false" aria-label="Example  send  icon"> send </mat-icon>
      </button>
    </form>

    <div><br><span>
      <h3>{{postTitle}}</h3>
      <p>{{postContent}}</p>
    </span></div>
  </mat-card>
