:host
{
  width: 100%;
  height: auto;
}
.post-input{
  width: 100%;
}
.title{
  width: 100%;
}


.image-piker {
  margin: 10px 0;
}

.image-piker input[type='file']{
  opacity: 0;
}

.image-piker .image-view img{
  margin-top: 10px;
  width: 400px;
}
