.post-image{
  height: 200px;
  overflow: hidden;
  border-radius: 7px;
  min-width: 200px;
  background-size: cover;
  background-position: center center;
}
mat-card-content{
  display: flex;
}
.nolist{
  padding: 0;
  list-style-type: none;
}
ul >li {
  margin-top: 5px;
  margin-bottom: 5px;
  list-style-type: none;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.post-card{
  background-color: white;
  border-radius: 7px;
  border: 1px solid whitesmoke;
}

mat-spinner {
  margin: auto;
  margin-top: 80px;
}

.placeholder{
  text-align: center;
  margin: auto;
  display: block;
  text-transform: capitalize;
  font-size: 26px;
  margin-top: 100px;
  padding: 30px;
  font-weight: 800;
  color: #aaa;
}

mat-paginator{
  margin:1rem 0;
}

mat-card-content p{
  color: #222;
  padding-left: 15px;
}
